/* Contêiner principal */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

/* Sobreposição para fechar o formulário */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

/* Estilizando o formulário */
.form {
  background-color: #ffffff;
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  min-height: 40%;
  text-align: center;
  z-index: 1001;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Título */
.title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #333333;
  margin-bottom: 30px;
}

/* Espaço entre as labels e os inputs */
.field {
  margin-bottom: 16px;
}

.label {
  display: block;
  margin-bottom: 6px;
  font-size: 1.1rem;
  color: #333;
}

/* Estilizando os inputs */
.input, .textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  font-size: 1rem;
  color: #333;
  background-color: #fafafa;
  outline: none;
  transition: border-color 0.3s ease;
  width: 100%;
}

.input:focus, .textarea:focus {
  border-color: #4caf50;
}

/* Estilizando a textarea */
.textarea {
  height: 150px;
  resize: none;
}

/* Botões */
.buttons {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
  .form {
      padding: 2rem;
      min-height: 50%;
      width: 90%;
  }

  .title {
      font-size: 1.7rem;
  }

  .input, .textarea {
      font-size: 0.95rem;
  }
}

@media (max-width: 480px) {
  .form {
      padding: 1.5rem;
      min-height: 60%;
  }

  .title {
      font-size: 1.6rem;
  }

  .input, .textarea {
      font-size: 0.9rem;
  }
}

.successMessage {
  margin-top: 20px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}

