:root {
    --font-size-base: 16px;
    
    --text-primary-color:rgb(0, 0, 0);  
    --text-secondary-color: #495057;  
    --text-tertiary-color: #6c757d; 
    
    --background-color:rgba(199, 198, 198, 0.59);  
    --background-secondary-color: #e9ecef;  
    
    --border-color: #dee2e6;  
    
    --button-background-color: #adb5bd;  
    --button-text-color: #212529;  
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-size: var(--font-size-base);
    line-height: 1.5;
}
