:root {
    --font-size-base: 16px;

    --color1: #000814;
    --color2: #001D3D;
    --color3: #003566;
    --color4: #FFC300;
    --color5: #FFD60A;
    --color6: #DEE2E6;
}  

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color6);
    color: var(--color1);
    font-size: var(--font-size-base);
    line-height: 1.5;
}
